.Pokedex{
    text-align: center;
}


.Pokedex-Cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-Winner{
    color: green;
}

.Pokedex-Loser{
    color: red;
}