.Pokecard {
	width: 300px;
	padding: 10px;
	margin: 1rem;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	text-align: center;
	background-color: white;
	border-radius: 3px;
}


.Pokecard-Data{
    font-size: 80%;
}

.Pakecard-Img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eceff1;
	border-radius: 3px;
	margin-bottom: 1rem;
	height: 250px;
}

.Pokecard-Title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.Pokecard img {
	transition: all ease 500ms;
}

.Pokecard img:hover {
	transform: scale(1.25);
	opacity: 0.7;

}